AWS_REGION=us-east-1
AWS_ACCOUNT_ID=

ETL_RAW_BUCKET=etl-raw-dev-
ETL_PROCESSED_BUCKET=etl-processed-dev-
ETL_SCRIPTS_BUCKET=etl-glue-scripts-dev-

GLUE_JOB_NAME=etl-transform-orders-dev

REDSHIFT_SECRET_ARN=arn:aws:secretsmanager:us-east-1::secret:etl/redshift/dev
REDSHIFT_DATABASE=etl_db
REDSHIFT_IAM_ROLE=arn:aws:iam::ACCOUNT:role/RedshiftS3Role-dev

SNS_TOPIC_ARN=arn:aws:sns:us-east-1::etl-alerts-dev

STAGE=dev
